<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>5Jobs</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link th:href="@{/img/favicon.ico}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
        rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
  <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <style>
    /* Ẩn chấm đầu dòng của thẻ li */
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
<div class="container-fluid p-0" style=" background-color: #F3F5F7">
  <!-- Spinner Start -->
  <div id="spinner"
       class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->


  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
      <!--            <h1 class="m-0 text-primary">5Job</h1>-->

      <!--            <img th:src="../../static/img/5jlogo1.png" height="376" width="743"/></a>-->
      <img th:src="@{/img/5jlogo1.png}" height="60%" />
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0 position-relative mb-0">
        <a href="index.html" class="nav-item nav-link active"><i class="bi bi-house-door"></i> Home</a>
        <!--                <a th:href="@{/user/appliedJob}" class="nav-item nav-link">Job application</a>-->
        <a th:href="@{/user/listJob}" class="nav-item nav-link"><i class="bi bi-building"></i> Company</a>
        <a th:href="@{/user/listJob}" class="nav-item nav-link"><i class="bi bi-book"></i> List job</a>
                        <a th:if="${acc != null and not #strings.isEmpty(acc.name)}" th:href="@{http://localhost:9000/}"
                           class="nav-item nav-link"><i class="bi bi-chat"></i>Bot chat</a>
                        <div th:if="${acc != null and not #strings.isEmpty(acc.name)}" class="nav-item dropdown mb-0 ml-1">
                                <span style="display:flex;align-items:center;position:relative;box-sizing:border-box;">
                                    <a href="#" class="nav-link" data-bs-toggle="dropdown"
                                       style="background-color:#E0F2FA;padding-right:6px;padding-left:6px;border-radius:50px;color:rgb(14, 18, 37);display:flex;align-items:center;font-weight:100;margin-left:4px;border:0.8px solid rgb(215, 215, 219);white-space:nowrap;cursor:pointer;text-decoration:none solid rgb(14, 18, 37);background-color:rgba(0, 0, 0, 0);box-sizing:border-box;">
                                        <img alt="avatar" height="30" width="30" th:src="@{/img/nomal.jpg}"
                                             style="object-fit:cover;object-position:50% 50%;margin-right:4px;border-radius:50%;vertical-align:middle;border-style:none;box-sizing:border-box;" />
                                        <span
                                                style="max-width:150px;text-overflow:ellipsis;overflow:hidden;box-sizing:border-box;">
                                        </span>
                                        <span id="accName" th:if="${acc != null and not #strings.isEmpty(acc.name)}"
                                              th:text="${acc.name}">
                                        </span>
                                    </a>
                                </span>
                            <div class="dropdown-menu rounded-0 m-0 top-50 start-40 translate-middle mr-2">

                                <a th:href="@{/user/interview}" class="dropdown-item"><i class="fas fa-envelope"></i>
                                    Interview</a>
                                <a th:href="@{/user/statusInterview}" class="dropdown-item"><i class="fas fa-envelope"></i>
                                    Status Interview</a>
                                <!--                        <a href="" class="dropdown-item">My 5job</a>-->
                                <!--                        <a href="" class="dropdown-item">my resumes</a>-->
                                <a class="dropdown-item" th:href="@{/user/saveJob}"><i class="fas fa-heart"></i> Saved
                                    jobs</a>
                                <a th:href="@{/user/appliedJob}" class="dropdown-item"><i class="fas fa-check"></i> Applied
                                    jobs</a>

                                <!--                        <a href="" class="dropdown-item">Job alerts</a>-->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <a th:href="@{#}" class="dropdown-item"><i class="bi bi-chat"></i>Chat</a>

                                <a th:href="@{/user/myAccount}" class="dropdown-item"><i class="fas fa-user"></i> My
                                    account</a>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <a th:href="@{/logout}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </div>
                        <a th:href="@{/logout}" class="nav-item nav-link"
                           th:unless="${acc != null and not #strings.isEmpty(acc.name)}"><i class="fas fa-sign-in-alt"></i>
                            Login</a>

      </div>

      <!--            <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"><i-->
      <!--                    class="fa fa-arrow-right ms-3"></i></a>-->
    </div>
  </nav>

  <!-- Navbar End -->
  <style>
    /* Thẻ li với card */
    .custom-card {
      width: 100%;
      height: 300px;
      border: 1px solid #ccc;
      /* Để ẩn phần tử vượt ra khỏi card */
      margin-bottom: 10px;

    }

    /* Hàng 1 */
    .custom-card .row-1 {
      display: flex;
      align-items: center;
      padding: 10px;
    }

    /* Cột 1 - Hiển thị ảnh */
    .custom-card .col-1 {
      flex: 1;
    }

    /* Cột 2 - Hiển thị tên công ty và địa chỉ */
    .custom-card .col-2 {
      flex: 2;
    }

    /* Hàng 2 - Hiển thị text giới thiệu công ty */
    .custom-card .row-2 {
      padding: 10px;
      overflow: hidden;
    }

    /* Đảm bảo văn bản không tràn ra khỏi card và thêm dấu "..." khi tràn */
    .custom-card p {
      text-align: justify;
    }

    /* Đảm bảo ảnh trong cột 1 không vượt ra khỏi card */
    .custom-card img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  </style>
  <div class="container mt-4">
    <div class="row">
      <form th:action="@{/user/listCompany}" method="get" id="searchForm" class="row">
      <div class="col-md-6">
        <h4>Employer (Find:  <span id="totalItems"  th:text="${#lists.size(companyList)}"></span>)</h4>
      </div>

      <div class="col-md-4">
        <input type="text" name="name" class="form-control border-0"
               placeholder="Keyword Company" />
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-dark border-0 w-100">Search</button>
      </div>
     </form>
      <!-- Column 1: Job Listings -->
      <div class="row">
        <!-- Your job listings go here -->
        <div class="" style="position:relative; width: 100%">
          <div class="mt-4" id="" th:if="${companyList != null}">

            <ul class="row" id="content-list">
              <!-- Thẻ li với card -->
              <li th:each="company : ${companyList}" class="col-md-3 rounded-1" style="margin-bottom:20px;">
                                    <span class="card row">
                                        <!-- Hàng 1 -->
                                        <div style="display: flex; justify-content: center;padding:0px;">
                                            <img class="flex-shrink-0 img-fluid border rounded" th:if="${company.getAccount().getAvatar() ne null}"
                                                 th:src="${company.getAccount().getAvatar()}" alt=""
                                                 style="height: 260px; max-height: 260px; width: 100%; max-width: 100%; padding: 0; margin: 0;">
<!--                                            <img class="img-profile rounded-circle" th:if="${acc.avatar ne null}" th:src="${acc.avatar}">-->
<!--              <img class="img-profile rounded-circle"th:if="${acc.avatar == null}" th:src="@{/img/nomal.jpg}">-->
                                            <img class="flex-shrink-0 img-fluid border rounded" th:if="${company.getAccount().getAvatar() == null}"
                                                 th:src="@{/img/nomal.jpg}" alt=""
                                                 style="height: 260px; max-height: 260px; width: 100%; max-width: 100%; padding: 0; margin: 0;">
                                        <th:block th:with="companyFounds=false">
                                            <!-- Dùng th:each để lặp qua danh sách -->
                                            <span th:each="employers : ${employersList}"
                                                  th:unless="${companyFounds}">
                                                <!-- Kiểm tra điều kiện, nếu khớp thì hiển thị và đặt companyFound=true để dừng lặp -->
                                                <span
                                                        th:if="${employers.getAccount().id == company.getAccount().id}"
                                                        th:with="companyFounds=true">
                                                    <img class="flex-shrink-0 img-fluid border rounded"
                                                         th:src="${employers.account.getAvatar()}" alt=""
                                                         style="height: 260px; max-height: 260px; width: 100%; max-width: 100%; padding: 0; margin: 0;">
                                                </span>
                                            </span>
                                          <!-- Hiển thị thông báo nếu không tìm thấy công ty -->
                                            <h4 th:unless="${companyFound}"></h4>
                                          <!-- Các dòng code khác nếu cần -->
                                        </th:block>
                                        </div>
                                        <span>
                                            <a th:href="@{/user/companyInfo/{id}(id=${company.id})}">
                                                <h5 th:text="${company.name}"></h5>
                                            </a>
                                        </span>
                                        <span>
                                            <p class="" style="overflow: hidden;text-overflow: ellipsis;">
                                                Address: <span th:text="${company.address}"></span></p>
                                        </span>


                                        <span class="" style="color:blue">
                                            123 Jobs
                                        </span>
                                      <!-- Hàng 2 - Hiển thị text giới thiệu công ty -->
                                      <!-- <div class="row row-2">
                                          <p th:text="${company.decription}"></p>
                                      </div> -->
                                    </span>
              </li>

            </ul>

          </div>
            <span id="totalItems1" th:text="${#lists.size(companyList)}" style="display: none;"></span>
            <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
          </nav>
          <!-- Link to a specific version of jQuery (e.g., version 3.5.1) -->
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

          <!-- Your other script and stylesheet links -->

          <script
                  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          <script
                  src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>

          <script>
            // Your pagination initialization code here
            $(document).ready(function () {
              // Total items and items per page
              // var totalItems = 6;
                var totalItems = document.getElementById("totalItems1").textContent;
              var itemsPerPage = 12;

              // Calculate total pages
              var totalPages = Math.ceil(totalItems / itemsPerPage);

              // Initialize Twbs-pagination
              $('#pagination').twbsPagination({
                totalPages: totalPages,
                visiblePages: 5, // Number of visible pages in the pagination
                onPageClick: function (event, page) {
                  // Handle page change event
                  console.log("Showing page " + page);

                  // You can update the content here based on the selected page
                  var startItem = (page - 1) * itemsPerPage;
                  var endItem = Math.min(page * itemsPerPage, totalItems);
                  console.log("Displaying items from " + startItem + " to " + (endItem - 1));
                  updateContent(startItem, endItem);
                }
              });

              // Function to update content based on the selected page
              function updateContent(start, end) {
                // This is just a placeholder. You should replace this with your actual logic
                $('#content-list li').hide(); // Hide all items
                $('#content-list li').slice(start, end).show(); // Show items for the current page
              }
            });
          </script>




        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Company</h5>
        <a class="btn btn-link text-white-50" href="">About Us</a>
        <a class="btn btn-link text-white-50" href="">Contact Us</a>
        <a class="btn btn-link text-white-50" href="">Our Services</a>
        <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
        <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Contact</h5>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Da Nang</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+0934746662</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>hodincanh@gmail.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Newsletter</h5>
        <p>send your email here</p>
        <div class="position-relative mx-auto" style="max-width: 400px;">
          <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                 placeholder="Your email">
          <button type="button"
                  class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">5Job</a>, All Right Reserved.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="">Canh-Vuong</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>

</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->

<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <title>5Jobs</title>-->
<!--  <meta content="width=device-width, initial-scale=1.0" name="viewport">-->
<!--  <meta content="" name="keywords">-->
<!--  <meta content="" name="description">-->

<!--  &lt;!&ndash; Favicon &ndash;&gt;-->
<!--  <link th:href="@{/img/favicon.ico}" rel="icon">-->

<!--  &lt;!&ndash; Google Web Fonts &ndash;&gt;-->
<!--  <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"-->
<!--        rel="stylesheet">-->

<!--  &lt;!&ndash; Icon Font Stylesheet &ndash;&gt;-->
<!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">-->

<!--  &lt;!&ndash; Libraries Stylesheet &ndash;&gt;-->
<!--  <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">-->
<!--  <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">-->

<!--  &lt;!&ndash; Customized Bootstrap Stylesheet &ndash;&gt;-->
<!--  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->

<!--  &lt;!&ndash; Template Stylesheet &ndash;&gt;-->
<!--  <link th:href="@{/css/style.css}" rel="stylesheet">-->

<!--  <style>-->
<!--    /* Ẩn chấm đầu dòng của thẻ li */-->
<!--    ul {-->
<!--      list-style-type: none;-->
<!--      padding: 0;-->
<!--      margin: 0;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->

<!--<body>-->
<!--<div class="container-fluid p-0" style=" background-color: #F3F5F7">-->
<!--  &lt;!&ndash; Spinner Start &ndash;&gt;-->
<!--  <div id="spinner"-->
<!--       class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
<!--    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; Spinner End &ndash;&gt;-->

<!--  <div class="sticky-top">-->
<!--    &lt;!&ndash; Navbar Start &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-0">-->
<!--      <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">-->
<!--        <h1 class="m-0 text-primary">5Job</h1>-->
<!--      </a>-->
<!--      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"-->
<!--              data-bs-target="#navbarCollapse">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <div class="navbar-nav ms-auto p-4 p-lg-0">-->
<!--          <a href="index.html" class="nav-item nav-link active">Home</a>-->
<!--          <a href="" class="nav-item nav-link">Companies</a>-->
<!--          <a href="" class="nav-item nav-link">5Job tool</a>-->
<!--          <a href="" class="nav-item nav-link">CV</a>-->
<!--          <div class="nav-item dropdown">-->
<!--            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login</a>-->
<!--            <div class="dropdown-menu rounded-0 m-0">-->
<!--              <a href="" class="dropdown-item">Login</a>-->
<!--              <a href="" class="dropdown-item">register</a>-->
<!--              <a href="" class="dropdown-item">My 5job</a>-->
<!--              <a href="" class="dropdown-item">my resumes</a>-->
<!--              <a href="saved-job.html" class="dropdown-item">Saved jobs</a>-->
<!--              <a href="" class="dropdown-item">Applied jobs</a>-->
<!--              <a href="" class="dropdown-item">Job alerts</a>-->
<!--              <a href="" class="dropdown-item">My account</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Employers<i-->
<!--                class="fa fa-arrow-right ms-3"></i></a>-->
<!--      </div>-->
<!--    </nav>-->
<!--    &lt;!&ndash; Navbar End &ndash;&gt;-->
<!--    &lt;!&ndash; Search Start &ndash;&gt;-->
<!--    <form th:action="@{/user/listCompany}" method="get" id="searchForm">-->
<!--    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 5px;">-->
<!--      <div class="container">-->
<!--        <div class="row g-2">-->
<!--          <div class="col-md-10">-->
<!--            <div class="row g-2">-->
<!--              <div class="col-md-4">-->
<!--                <input type="text" name="name" class="form-control border-0" placeholder="Keyword Company" />-->
<!--              </div>-->
<!--&lt;!&ndash;              <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                <select class="form-select border-0">&ndash;&gt;-->
<!--&lt;!&ndash;                  <option selected>Category</option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <option value="1">Category 1</option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <option value="2">Category 2</option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <option value="3">Category 3</option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                <select class="form-select border-0">&ndash;&gt;-->
<!--&lt;!&ndash;                  <option selected>Location</option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <option value="1">Location 1</option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <option value="2">Location 2</option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <option value="3">Location 3</option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-2">-->
<!--            <button type="submit" class="btn btn-dark border-0 w-100">Search</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--   </form>-->
<!--    &lt;!&ndash; Search End &ndash;&gt;-->

<!--  </div>-->
<!--  <style>-->
<!--    /* Thẻ li với card */-->
<!--    .custom-card {-->
<!--      width: 100%;-->
<!--      height: 255px;-->
<!--      border: 1px solid #ccc;-->
<!--      overflow: hidden; /* Để ẩn phần tử vượt ra khỏi card */-->
<!--      margin-bottom: 10px;-->

<!--    }-->

<!--    /* Hàng 1 */-->
<!--    .custom-card .row-1 {-->
<!--      display: flex;-->
<!--      align-items: center;-->
<!--      padding: 10px;-->
<!--    }-->

<!--    /* Cột 1 - Hiển thị ảnh */-->
<!--    .custom-card .col-1 {-->
<!--      flex: 1;-->
<!--    }-->

<!--    /* Cột 2 - Hiển thị tên công ty và địa chỉ */-->
<!--    .custom-card .col-2 {-->
<!--      flex: 2;-->
<!--    }-->

<!--    /* Hàng 2 - Hiển thị text giới thiệu công ty */-->
<!--    .custom-card .row-2 {-->
<!--      padding: 10px;-->
<!--      overflow: hidden;-->
<!--    }-->

<!--    /* Đảm bảo văn bản không tràn ra khỏi card và thêm dấu "..." khi tràn */-->
<!--    .custom-card p {-->

<!--      overflow: hidden;-->
<!--      text-overflow: ellipsis;-->
<!--      text-align: justify;-->
<!--    }-->

<!--    /* Đảm bảo ảnh trong cột 1 không vượt ra khỏi card */-->
<!--    .custom-card img {-->
<!--      max-width: 100%;-->
<!--      max-height: 100%;-->
<!--      object-fit: cover;-->
<!--    }-->

<!--  </style>-->
<!--  <div class="container mt-4">-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; Column 1: Job Listings &ndash;&gt;-->
<!--      <div class="row">-->
<!--        &lt;!&ndash; Your job listings go here &ndash;&gt;-->
<!--        <div class="" style="position:relative; width: 100%">-->
<!--          <div class="mt-4" id="" th:if="${companyList != null}">-->

<!--            <ul class="row" id="content-list">-->
<!--              &lt;!&ndash; Thẻ li với card &ndash;&gt;-->
<!--              <li th:each="company : ${companyList}" class="col-md-4">-->
<!--                                  <span class="list-group-item custom-card">-->
<!--                                    &lt;!&ndash; Hàng 1 &ndash;&gt;-->
<!--                                    <div class="row row-1">-->
<!--&lt;!&ndash;                                         Cột 1 - Hiển thị ảnh&ndash;&gt;-->
<!--                                        <div class="col-1">-->
<!--&lt;!&ndash;                                            <img class="flex-shrink-0 img-fluid border rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                                     th:src="${company.getAccount().getAvatar()}" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                                     style="width: 80px; height: 80px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th:block th:with="companyFounds=false">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        &lt;!&ndash; Dùng th:each để lặp qua danh sách &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <span th:each="employers : ${employersList}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                              th:unless="${companyFounds}">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                &lt;!&ndash; Kiểm tra điều kiện, nếu khớp thì hiển thị và đặt companyFound=true để dừng lặp &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <span&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        th:if="${employers.getAccount().id == company.getAccount().id}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        th:with="companyFounds=true">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <img class="flex-shrink-0 img-fluid border rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                         th:src="${employers.account.getAvatar()}" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                                         style="width: 80px; height: 80px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                              &lt;!&ndash; Hiển thị thông báo nếu không tìm thấy công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <h4 th:unless="${companyFound}"></h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                              &lt;!&ndash; Các dòng code khác nếu cần &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </th:block>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                      &lt;!&ndash; Cột 2 - Hiển thị tên công ty và địa chỉ &ndash;&gt;-->
<!--                                        <div class="col-2">-->
<!--                                            <a th:href="@{/user/companyInfo/{id}(id=${company.id})}"> <h5 style="height: 50px; overflow: hidden;text-overflow: ellipsis;" th:text="${company.name}"></h5></a>-->
<!--                                            <p style="height: 20px; overflow: hidden;text-overflow: ellipsis;">Address Company: <span th:text="${company.address}"></span></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Hàng 2 - Hiển thị text giới thiệu công ty &ndash;&gt;-->
<!--                                    <div class="row row-2">-->
<!--                                        <p th:text="${company.decription}"></p>-->
<!--                                    </div>-->
<!--                                </span>-->
<!--              </li>-->
<!--&lt;!&ndash;              <li class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="list-group-item custom-card">&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 1 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                          &lt;!&ndash; Cột 1 - Hiển thị ảnh &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <th:block th:with="companyFounds=false">&ndash;&gt;-->
<!--&lt;!&ndash;                                                          &lt;!&ndash; Dùng th:each để lặp qua danh sách &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <span th:each="employers : ${employersList}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                th:unless="${companyFounds}">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  &lt;!&ndash; Kiểm tra điều kiện, nếu khớp thì hiển thị và đặt companyFound=true để dừng lặp &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  <span&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:if="${employers.getAccount().id == job.getAccountId()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:with="companyFounds=true">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                      <img class="flex-shrink-0 img-fluid border rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           th:src="${employers.account.getAvatar()}" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           style="width: 80px; height: 80px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                              </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Hiển thị thông báo nếu không tìm thấy công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <h4 th:unless="${companyFound}"></h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Các dòng code khác nếu cần &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                      </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        &lt;!&ndash; Cột 2 - Hiển thị tên công ty và địa chỉ &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <h5 style="height: 50px; overflow: hidden;text-overflow: ellipsis;">Tên Công Tya ạaaaaaaaaaaaaaa aaaa aaaaaaa</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                              <p style="height: 20px; overflow: hidden;text-overflow: ellipsis;">Địa chỉ công tyss ss sssss ssssssssssssssssssssss</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 2 - Hiển thị text giới thiệu công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                          <p>Text giới thiệu công tya aaaaa aaaaaa aaa ád ád ád ád ád ád ád á dá dá dsa daaaaa aaaaaaaaaaa aaaaaaa aaaaaa aaaaaaaaaa aaaaaaa aaaaaaaa aaaa aaaaaaaaa aaaaaaa aaaaaaaa  aaaaaa aaaaaaa aaaaaaaaa aaaaaaaaaa aaaaa aaaaa aaaa aaa a a sda sd áds ád ád á da sdas d ád ád á dá dá sd ád á dá dá da sd ád á dá da sd ád sa</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="list-group-item custom-card">&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 1 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                          &lt;!&ndash; Cột 1 - Hiển thị ảnh &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <th:block th:with="companyFounds=false">&ndash;&gt;-->
<!--&lt;!&ndash;                                                          &lt;!&ndash; Dùng th:each để lặp qua danh sách &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <span th:each="employers : ${employersList}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                th:unless="${companyFounds}">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  &lt;!&ndash; Kiểm tra điều kiện, nếu khớp thì hiển thị và đặt companyFound=true để dừng lặp &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  <span&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:if="${employers.getAccount().id == job.getAccountId()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:with="companyFounds=true">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                      <img class="flex-shrink-0 img-fluid border rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           th:src="${employers.account.getAvatar()}" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           style="width: 80px; height: 80px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                              </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Hiển thị thông báo nếu không tìm thấy công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <h4 th:unless="${companyFound}"></h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Các dòng code khác nếu cần &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                      </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        &lt;!&ndash; Cột 2 - Hiển thị tên công ty và địa chỉ &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <h5 style="height: 50px; overflow: hidden;text-overflow: ellipsis;">Tên Công Tya ạaaaaaaaaaaaaaa aaaa aaaaaaa</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                              <p style="height: 20px; overflow: hidden;text-overflow: ellipsis;">Địa chỉ công tyss ss sssss ssssssssssssssssssssss</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 2 - Hiển thị text giới thiệu công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                          <p>Text giới thiệu công tya aaaaa aaaaaa aaa ád ád ád ád ád ád ád á dá dá dsa daaaaa aaaaaaaaaaa aaaaaaa aaaaaa aaaaaaaaaa aaaaaaa aaaaaaaa aaaa aaaaaaaaa aaaaaaa aaaaaaaa  aaaaaa aaaaaaa aaaaaaaaa aaaaaaaaaa aaaaa aaaaa aaaa aaa a a sda sd áds ád ád á da sdas d ád ád á dá dá sd ád á dá dá da sd ád á dá da sd ád sa</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="list-group-item custom-card">&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 1 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                          &lt;!&ndash; Cột 1 - Hiển thị ảnh &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <th:block th:with="companyFounds=false">&ndash;&gt;-->
<!--&lt;!&ndash;                                                          &lt;!&ndash; Dùng th:each để lặp qua danh sách &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <span th:each="employers : ${employersList}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                th:unless="${companyFounds}">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  &lt;!&ndash; Kiểm tra điều kiện, nếu khớp thì hiển thị và đặt companyFound=true để dừng lặp &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  <span&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:if="${employers.getAccount().id == job.getAccountId()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:with="companyFounds=true">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                      <img class="flex-shrink-0 img-fluid border rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           th:src="${employers.account.getAvatar()}" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           style="width: 80px; height: 80px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                              </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Hiển thị thông báo nếu không tìm thấy công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <h4 th:unless="${companyFound}"></h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Các dòng code khác nếu cần &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                      </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        &lt;!&ndash; Cột 2 - Hiển thị tên công ty và địa chỉ &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <h5 style="height: 50px; overflow: hidden;text-overflow: ellipsis;">Tên Công Tya ạaaaaaaaaaaaaaa aaaa aaaaaaa</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                              <p style="height: 20px; overflow: hidden;text-overflow: ellipsis;">Địa chỉ công tyss ss sssss ssssssssssssssssssssss</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 2 - Hiển thị text giới thiệu công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                          <p>Text giới thiệu công tya aaaaa aaaaaa aaa ád ád ád ád ád ád ád á dá dá dsa daaaaa aaaaaaaaaaa aaaaaaa aaaaaa aaaaaaaaaa aaaaaaa aaaaaaaa aaaa aaaaaaaaa aaaaaaa aaaaaaaa  aaaaaa aaaaaaa aaaaaaaaa aaaaaaaaaa aaaaa aaaaa aaaa aaa a a sda sd áds ád ád á da sdas d ád ád á dá dá sd ád á dá dá da sd ád á dá da sd ád sa</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              <li class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span class="list-group-item custom-card">&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 1 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                          &lt;!&ndash; Cột 1 - Hiển thị ảnh &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <th:block th:with="companyFounds=false">&ndash;&gt;-->
<!--&lt;!&ndash;                                                          &lt;!&ndash; Dùng th:each để lặp qua danh sách &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <span th:each="employers : ${employersList}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                th:unless="${companyFounds}">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  &lt;!&ndash; Kiểm tra điều kiện, nếu khớp thì hiển thị và đặt companyFound=true để dừng lặp &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  <span&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:if="${employers.getAccount().id == job.getAccountId()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                          th:with="companyFounds=true">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                      <img class="flex-shrink-0 img-fluid border rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           th:src="${employers.account.getAvatar()}" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                                           style="width: 80px; height: 80px;">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                              </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Hiển thị thông báo nếu không tìm thấy công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                          <h4 th:unless="${companyFound}"></h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                                &lt;!&ndash; Các dòng code khác nếu cần &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                                      </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        &lt;!&ndash; Cột 2 - Hiển thị tên công ty và địa chỉ &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                          <div class="col-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                              <h5 style="height: 50px; overflow: hidden;text-overflow: ellipsis;">Tên Công Tya ạaaaaaaaaaaaaaa aaaa aaaaaaa</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                              <p style="height: 20px; overflow: hidden;text-overflow: ellipsis;">Địa chỉ công tyss ss sssss ssssssssssssssssssssss</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                      &lt;!&ndash; Hàng 2 - Hiển thị text giới thiệu công ty &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                      <div class="row row-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                          <p>Text giới thiệu công tya aaaaa aaaaaa aaa ád ád ád ád ád ád ád á dá dá dsa daaaaa aaaaaaaaaaa aaaaaaa aaaaaa aaaaaaaaaa aaaaaaa aaaaaaaa aaaa aaaaaaaaa aaaaaaa aaaaaaaa  aaaaaa aaaaaaa aaaaaaaaa aaaaaaaaaa aaaaa aaaaa aaaa aaa a a sda sd áds ád ád á da sdas d ád ád á dá dá sd ád á dá dá da sd ád á dá da sd ád sa</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->

<!--            </ul>-->

<!--          </div>-->
<!--          <nav aria-label="Page navigation">-->
<!--            <ul class="pagination" id="pagination"></ul>-->
<!--          </nav>-->
<!--          &lt;!&ndash; Link to a specific version of jQuery (e.g., version 3.5.1) &ndash;&gt;-->
<!--          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->

<!--          &lt;!&ndash; Your other script and stylesheet links &ndash;&gt;-->

<!--          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>-->
<!--          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--          <script-->
<!--                  src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>-->

<!--          <script>-->
<!--            // Your pagination initialization code here-->
<!--            $(document).ready(function () {-->
<!--              // Total items and items per page-->
<!--              var totalItems = 6;-->
<!--              var itemsPerPage = 4;-->

<!--              // Calculate total pages-->
<!--              var totalPages = Math.ceil(totalItems / itemsPerPage);-->

<!--              // Initialize Twbs-pagination-->
<!--              $('#pagination').twbsPagination({-->
<!--                totalPages: totalPages,-->
<!--                visiblePages: 5, // Number of visible pages in the pagination-->
<!--                onPageClick: function (event, page) {-->
<!--                  // Handle page change event-->
<!--                  console.log("Showing page " + page);-->

<!--                  // You can update the content here based on the selected page-->
<!--                  var startItem = (page - 1) * itemsPerPage;-->
<!--                  var endItem = Math.min(page * itemsPerPage, totalItems);-->
<!--                  console.log("Displaying items from " + startItem + " to " + (endItem - 1));-->
<!--                  updateContent(startItem, endItem);-->
<!--                }-->
<!--              });-->

<!--              // Function to update content based on the selected page-->
<!--              function updateContent(start, end) {-->
<!--                // This is just a placeholder. You should replace this with your actual logic-->
<!--                $('#content-list li').hide(); // Hide all items-->
<!--                $('#content-list li').slice(start, end).show(); // Show items for the current page-->
<!--              }-->
<!--            });-->
<!--          </script>-->




<!--        </div>-->


<!--      </div>-->
<!--    </div>-->



<!--    &lt;!&ndash; Footer Start &ndash;&gt;-->
<!--    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">-->
<!--      <div class="container py-5">-->
<!--        <div class="row g-5">-->
<!--          <div class="col-lg-3 col-md-6">-->
<!--            <h5 class="text-white mb-4">Company</h5>-->
<!--            <a class="btn btn-link text-white-50" href="">About Us</a>-->
<!--            <a class="btn btn-link text-white-50" href="">Contact Us</a>-->
<!--            <a class="btn btn-link text-white-50" href="">Our Services</a>-->
<!--            <a class="btn btn-link text-white-50" href="">Privacy Policy</a>-->
<!--            <a class="btn btn-link text-white-50" href="">Terms & Condition</a>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-6">-->
<!--            <h5 class="text-white mb-4">Contact</h5>-->
<!--            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Da Nang</p>-->
<!--            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+0934746662</p>-->
<!--            <p class="mb-2"><i class="fa fa-envelope me-3"></i>hodincanh@gmail.com</p>-->
<!--            <div class="d-flex pt-2">-->
<!--              <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>-->
<!--              <a class="btn btn-outline-light btn-social" href=""><i-->
<!--                      class="fab fa-facebook-f"></i></a>-->
<!--              <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>-->
<!--              <a class="btn btn-outline-light btn-social" href=""><i-->
<!--                      class="fab fa-linkedin-in"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-3 col-md-6">-->
<!--            <h5 class="text-white mb-4">Newsletter</h5>-->
<!--            <p>send your email here</p>-->
<!--            <div class="position-relative mx-auto" style="max-width: 400px;">-->
<!--              <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"-->
<!--                     placeholder="Your email">-->
<!--              <button type="button"-->
<!--                      class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">send</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container">-->
<!--        <div class="copyright">-->
<!--          <div class="row">-->
<!--            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">-->
<!--              &copy; <a class="border-bottom" href="#">5Job</a>, All Right Reserved.-->

<!--              &lt;!&ndash;/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/&ndash;&gt;-->
<!--              Designed By <a class="border-bottom" href="">Canh-Vuong</a>-->
<!--            </div>-->
<!--            <div class="col-md-6 text-center text-md-end">-->
<!--              <div class="footer-menu">-->
<!--                <a href="">Home</a>-->
<!--                <a href="">Cookies</a>-->
<!--                <a href="">Help</a>-->
<!--                <a href="">FQAs</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Footer End &ndash;&gt;-->


<!--    &lt;!&ndash; Back to Top &ndash;&gt;-->
<!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
<!--  </div>-->

<!--  &lt;!&ndash; JavaScript Libraries &ndash;&gt;-->
<!--  &lt;!&ndash; <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> &ndash;&gt;-->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->
<!--  <script th:src="@{/lib/wow/wow.min.js}"></script>-->
<!--  <script th:src="@{/lib/easing/easing.min.js}"></script>-->
<!--  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>-->

<!--  &lt;!&ndash; Template Javascript &ndash;&gt;-->
<!--  <script th:src="@{/js/main.js}"></script>-->
<!--</body>-->

<!--</html>-->